//paddings
$page_padding_x: 12rem;
$page_padding_x_thin: 15rem;

$page_padding_Y: 0;

$settings_width: 11.5rem;

$paddings: (
  1920px: 11rem,
  1600px: 7rem,
  1440px: 4rem,
  1280px: 3rem,
  1100px: 2rem,
  768px: 1.5rem,
  420px: 0.75rem,
  360px: 0.5rem,
);

$second_font: 'Quicksand', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
