//paddings
$page_padding_x: 12rem;
$page_padding_x_thin: 15rem;

$liked_width: 12rem;

$page_padding_Y: 0;

$settings_width: 11.5rem;

$paddings: (
  1920px: 10rem,
  1800px: 8.5rem,
  1700px: 7rem,
  1620px: 5rem,
  1550px: 4rem,
  1380px: 3rem,
  1100px: 2rem,
  768px: 1.5rem,
  420px: 0.75rem,
  360px: 0.5rem,
);

$main_font: 'Barlow Condensed', sans-serif;
$second_font: 'Quicksand', sans-serif;
$third_font: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
