@import 'utils';

.contact {
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(18, 19, 20);
  color: white;

  .content {
    width: 100%;
    display: flex;
    padding: 0 $page_padding_x;
    border: solid 2px rgb(66, 66, 66);
    border: {
      left: 0;
      right: 0;
    }
    transition: all 0.3s ease;

    *:not(i) {
      font-family: $third_font;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      transition: all 0.3s ease;

      .heading {
        font-weight: normal;
        font-family: $roboto;
        font-size: 4rem;
        color: white;
        margin: 0;
      }
    }

    .line {
      width: 1px;
      height: 34rem;
      background-color: rgb(66, 66, 66);
      margin: 0 3rem;
    }

    .crew {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .person {
        width: 17rem;
        display: flex;
        margin: 1.5rem 0;
        transition: all 0.5s ease;

        .person-top {
          display: flex;
          position: relative;
        }

        img {
          width: 6rem;
          height: 6rem;
          margin-right: 1rem;
          object-fit: cover;
          opacity: 0;
        }

        .contact-forms {
          display: flex;
          flex-direction: column;

          .name {
            font-size: 1rem;
            font-family: $roboto;
            margin: {
              top: 0.5rem;
              bottom: 0.5rem;
            }
          }

          .social-media {
            a,
            i {
              font-size: 0.8rem;
              margin-right: 0.3rem;
              color: gray;

              &:hover {
                color: white;
              }
            }
          }

          .introduction {
            font-size: 0.55rem;
            font-family: $roboto;
          }

          i {
            font-size: 0.6rem;
            margin-right: 0.35rem;
          }

          span {
            margin-top: 0.5rem;
            font-size: 0.65rem;
          }
        }
      }
    }
  }

  &.contact-hidden {
    .content {
      opacity: 0;
    }
    .flex-container {
      opacity: 0;
    }

    .wrapper {
      opacity: 0;
    }
    .person {
      opacity: 0;
    }
  }
}

@each $width, $padding in $paddings {
  @media screen and (max-width: $width) {
    .contact {
      .content {
        padding: 0 $padding;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contact {
    .content {
      border: none;
      flex-direction: column-reverse;

      .line {
        display: none;
      }

      .heading {
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        text-align: center;

        &:nth-of-type(2) {
          margin-top: 1rem;
        }
      }

      .flex-container {
        align-items: center;

        .heading {
          font-size: 1.75rem;
          font-weight: bold;
          margin: {
            bottom: 0.5rem;
            top: 3rem;
          }
          width: 100%;
          text-align: center;

          &:nth-of-type(2) {
            margin-top: 1rem;
          }
        }
      }

      .crew {
        width: 100%;
        justify-content: center;
        align-items: center;

        .crew-wrapper {
          display: flex;

          .person {
            margin-right: 0;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .person-top {
              width: fit-content;

              img {
                margin-right: 0;
              }
            }

            .contact-forms {
              i {
                font-size: 0.7rem;
                margin-right: 0.25rem;
              }

              span {
                font-size: 0.7rem;
              }

              p {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .contact {
    .content {
      .heading {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        width: 100%;
        text-align: center;

        &:nth-of-type(2) {
          margin-top: 1rem;
        }
      }

      .flex-container {
        align-items: center;

        .heading {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
          width: 100%;
          text-align: center;

          &:nth-of-type(2) {
            margin-top: 1rem;
          }
        }
      }

      .crew {
        width: 100%;
        flex-direction: column;

        .person {
          width: 100%;
          flex-direction: column;
          align-items: center;
          text-align: center;

          i {
            margin: 0 0.15rem;
          }

          .person-top {
            img {
              width: 5rem;
              height: 5rem;
              margin: 0;
            }
          }

          .contact-forms {
            span {
              font-size: 0.6rem;
            }

            p {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
