@import 'utils';

.current-weather {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  align-items: center;
  font-family: $font_montserrat;

  .left {
    display: flex;
    flex-direction: column;
    text-align: center;

    .temperature {
      font-size: 5rem;
      margin: 0 0.25rem;
      display: block;
    }

    span {
      font-weight: lighter;
      margin: 0.5rem 0;
    }

    .description {
      width: 7rem;
      font-size: 0.6rem;
      display: flex;
      justify-content: space-between;
    }
  }

  .weather-info {
    display: flex;
    align-items: flex-end;
    font-size: 0.7rem;

    .location {
      margin: 0 1rem;

      .city-name {
        font-size: 2rem;
        margin: 0;
        font-weight: normal;
      }

      .date {
        font-weight: lighter;
        margin: 0;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: lighter;

      .weather-image {
        width: 1.5rem;
      }
    }

    .weather-conditions {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 420px) {
  .current-weather {
    flex-direction: column-reverse;
    align-items: center;
    margin: 1.5rem 0;

    .left {
      width: 100%;
      margin: 0;
      margin-top: 1rem;

      .description {
        width: 100%;
        justify-content: space-around;
      }
    }

    .location {
      text-align: center;

      .city-name {
        font-size: 1.5rem;
      }
    }
  }
}
