@import 'utils';

.current-weather {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  font-family: $font_montserrat;

  .temp {
    display: flex;
    text-align: center;

    img {
      width: 3.5rem;
      margin-right: 0.5rem;
    }

    .temperature {
      font-size: 4.5rem;
      margin: 0;
      padding: 0 1rem;
      font-weight: normal;
      display: block;
      // border-right: solid 1px rgba($color: #ffffff, $alpha: 0.1);
    }

    span {
      font-weight: lighter;
      margin: 0.5rem 0;
    }

    .description {
      width: 7rem;
      font-size: 0.6rem;
      display: flex;
      justify-content: space-between;
    }
  }

  .weather-info {
    display: flex;
    align-items: flex-end;
    font-size: 0.7rem;

    .location {
      margin: 0 1rem;

      i {
        font-size: 1.25rem;
        margin-right: 0.5rem;
      }

      .city-name {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
      }

      .date {
        margin: 0;
        font-style: italic;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: lighter;

      .weather-image {
        width: 1.5rem;
      }
    }

    .weather-conditions {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 420px) {
  .current-weather {
    flex-direction: column-reverse;
    align-items: center;
    margin: {
      top: 1.5rem;
      bottom: 0;
    }

    .temp {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      margin-top: 1rem;

      .description {
        width: 100%;
        justify-content: space-around;
      }

      .weather-image {
        height: auto;
        width: 2rem;
      }

      .temperature {
        padding-right: 0;
        font-size: 3rem;
      }
    }

    .weather-info {
      .location {
        text-align: center;

        .date {
        }

        .city-name {
          font-size: 1.25rem;
        }
      }
    }
  }
}
