@import 'utils';

.forecast {
  display: flex;
  font-family: $font_montserrat;
  width: fit-content;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 7px;
  width: 100%;

  .day-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-between;
    width: 3.5rem;
    transition: all 0.25s ease;

    * {
      margin: 0.4rem 0;
      font-weight: lighter;
    }

    .day-of-week {
      font-size: 0.55rem;
      font-weight: bold;
    }

    img {
      height: 1.05rem;
    }

    h3 {
      font-size: 0.55rem;
      font-weight: bold;
    }

    .wind-speed {
      display: none;
    }

    .forecast-description {
      font-size: 0.7rem;
    }
  }
}

@media only screen and (max-width: 420px) {
  .forecast {
    // flex-direction: column;
    margin-top: 1rem;
    height: auto;
    background: transparent;
    justify-content: space-between;

    .day-forecast {
      flex-direction: column-reverse;
      width: 100%;
      margin: 0;

      .day-of-week {
        font-size: 0.7rem;
        width: auto;
      }

      .wind-speed {
        // display: block;
      }

      img {
        width: 1rem;
      }

      .forecast-description {
        font-size: 0.6rem;
      }
    }
  }
}
