@import 'utils';

.liked-podcasts {
  display: flex;
  flex-direction: column;
  width: $liked_width;
  padding: 3rem 0;
  padding-right: 1rem;
  font-family: 'Quicksand', sans-serif;
  transition: all 0.3s ease;

  .loader {
    position: initial;
  }

  .liked-podcast-link {
    color: white;
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0.55rem;
    width: 100%;
    border-bottom: solid 1px rgb(48, 48, 48);
    transition: all 0.1s ease;

    &:last-of-type {
      border: none;
    }

    h3 {
      width: 100%;
      font-size: 0.55rem;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    span {
      font-size: 0.55rem;
      width: 0.75rem;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 0.5rem;
      object-fit: cover;
    }

    &:hover {
      background-color: black;
    }
  }
}
