@import 'utils';

.message-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 $page_padding_x;
  justify-content: center;
  width: 100%;
  background-color: white;

  .button-wrapper {
    height: 8rem;
    display: flex;
    align-items: flex-start;

    .podcast-button {
      position: relative;
      color: black;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      font-weight: 600;
      font-family: $font_poppins;
      font-size: 0.55rem;
      border-bottom: solid 2px rgba(black, 0.5);
      padding-bottom: 0.3rem;
      width: fit-content;
      transition: all 0.3s ease;

      &:hover {
        padding-bottom: 0.5rem;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .heading-box {
      width: 20rem;

      .heading {
        font-family: $font_poppins;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        margin: {
          top: 0;
          bottom: 1.5rem;
        }
        color: black;
      }

      p {
        font-size: 0.6rem;
        font-family: $font_poppins;
        font-weight: 500;
        line-height: 1.15rem;
        color: rgb(85, 85, 85);
        margin-bottom: 3rem;
        width: 14rem;
      }
    }

    .form-container {
      position: relative;
      width: 26rem;
      display: flex;
      flex-direction: column;
      color: black;

      .form-group {
        width: 100%;
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;
          width: 47%;
        }
      }

      label {
        font-size: 0.55rem;
        font-weight: 600;
        font-family: $font_poppins;
        color: rgb(85, 85, 85);
      }

      input,
      textarea {
        font-size: 0.6rem;
        padding: 0.35rem 0;
        margin-bottom: 1.5rem;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: solid 1px transparentize($color: black, $amount: 0.7);
        font-family: $font_poppins;
        font-weight: 500;
        color: black;

        &::placeholder {
          color: rgb(190, 194, 197);
        }

        &:hover,
        &:focus {
          border-bottom: solid 1px transparentize($color: black, $amount: 0.2);
        }
      }

      textarea {
        height: 5rem;
        resize: vertical;
      }

      button {
        font-size: 0.5rem;
        padding: 0.55rem 1rem;
        margin-top: 0.5rem;
        align-self: flex-end;
        border: none;
        font-weight: 500;
        background: black;
        color: white;
        font-family: $font_poppins;
        transition: all 0.3s ease;
        cursor: pointer;
        background-color: black;

        &:hover {
          background-color: $main_purple;
        }

        i {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@each $width, $padding in $paddings {
  @media screen and (max-width: $width) {
    .message-form {
      padding: 0 $padding;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .message-form {
    height: auto;

    .content {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 750px) {
  .message-form {
    padding: {
      top: 2rem;
      bottom: 2rem;
    }
    .button-wrapper {
      height: 4rem;
    }
    .content {
      .heading-box {
        width: 100%;

        .heading {
          width: 100%;
          font-size: 1.5rem;
        }

        p {
          width: 100%;
        }
      }

      .form-container {
        // margin-top: 1rem;
        width: 100%;
      }
    }
  }
}
