@import 'utils';

.message-form {
  display: flex;
  flex-direction: column;
  width: 20rem;

  .form-container {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    color: rgb(160, 164, 167);

    .form-group {
      width: 100%;
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        width: 47%;
      }
    }

    .heading {
      font-family: $roboto;
      font-weight: 500;
      font-size: 1.75rem;
      margin: 0;
      color: white;
    }

    p {
      max-width: 100%;
      font-size: 0.6rem;
      font-weight: 500;
      font-family: $second_font;
      line-height: 1.15rem;
      color: rgb(194, 198, 199);
      margin-bottom: 2rem;
    }

    label {
      font-size: 0.65rem;
      margin-bottom: 0.35rem;
      font-family: $roboto;
      color: white;
    }

    input,
    textarea {
      font-size: 0.55rem;
      padding: 0.35rem 0;
      margin-bottom: 1.25rem;
      color: white;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: solid 2px transparentize($color: white, $amount: 0.8);
      font-family: $second_font;
      font-weight: 500;

      &::placeholder {
        color: rgb(190, 194, 197);
      }

      &:hover {
        border-bottom: solid 2px transparentize($color: white, $amount: 0.8);
      }
    }

    textarea {
      height: 4rem;
      resize: none;
    }

    button {
      font-size: 0.6rem;
      padding: 0.6rem 1.75rem;
      margin-top: 1rem;
      align-self: flex-end;
      font-weight: bold;
      border: none;
      background: black;
      color: white;
      font-family: $main_font;
      transition: all 0.3s ease;
      cursor: pointer;
      background-color: rgba($main_purple, 0.5);

      &:hover {
        background-color: rgba($main_purple, 1);
      }
    }
  }
}

@media only screen and(max-width: 450px) {
  .message-form {
    width: 100%;
    padding-bottom: 1rem;
    background: transparent;

    .form-container {
      padding: 2rem 0;
      padding-top: 0;

      input,
      textarea {
        width: 100%;
      }
    }
  }
}
