@import 'utils';

.message-form {
  display: flex;
  flex-direction: column;
  width: 17rem;

  .form-container {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    color: rgb(160, 164, 167);

    .heading {
      font-family: $second_font;
      font-size: 1.75rem;
      margin: 0;
      color: white;
    }

    p {
      max-width: 100%;
      font-size: 0.6rem;
      font-weight: 500;
      font-family: $second_font;
      line-height: 1.15rem;
      color: rgb(190, 194, 197);
      margin-bottom: 2rem;
    }

    label {
      font-size: 0.65rem;
      margin-bottom: 0.35rem;
      font-family: $roboto;
      color: white;
    }

    input,
    textarea {
      font-size: 0.55rem;
      padding: 0.65rem 0.75rem;
      margin-bottom: 1.25rem;
      color: white;
      background: $main_bg_color;
      border-radius: 10px;
      outline: none;
      border: none;
      font-family: $second_font;
      font-weight: 500;

      &::placeholder {
        color: rgb(190, 194, 197);
      }

      &:hover {
        background: lighten($color: $main_bg_color, $amount: 1);
      }
    }

    textarea {
      height: 4rem;
      resize: none;
    }

    button {
      border-radius: 10px;
      background-color: rgba($main_purple, 1);
      padding: 0.4rem 1rem;
      text-transform: lowercase;
      font-family: $second_font;

      &:hover {
        background-color: rgba($main_purple, 0.5);
      }
    }
  }
}

@media only screen and(max-width: 450px) {
  .message-form {
    width: 100%;
    padding-bottom: 1rem;
    background: transparent;

    .form-container {
      padding: 2rem 0;
      padding-top: 0;

      input,
      textarea {
        width: 100%;
      }
    }
  }
}
