@import 'utils';

.navbar {
  width: 100%;
  padding: 0 $page_padding_x;
  height: 4rem;
  display: none;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  z-index: 100;
  // background-color: rgb(31, 32, 34);

  &.static {
    top: 0;
    position: sticky;
    background-color: transparentize($color: black, $amount: 0.05) !important;
  }

  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.6;
    z-index: 0;
    transition: all 0.5s ease;
  }

  .name {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    font-family: $roboto;
    font-size: 1.5rem;

    img {
      height: 1rem;
    }

    h3 {
      margin-left: 0.25rem;
      font-size: 1rem;
      font-weight: lighter;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    .navigation-button {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: white;
      margin: 0 0.7rem;
      padding: 0.2rem 0;
      text-decoration: none;
      font-size: 0.6rem;
      cursor: pointer;
      font-family: $third_font;

      i {
        margin-left: 0.5rem;
      }

      .slider {
        position: absolute;
        background-color: #fff !important;
        width: 0;
        height: 0.05rem;
        bottom: 0;
        transition: all 0.3s ease;
      }
    }

    .login-register {
      display: flex;
    }

    .main-menu {
      display: flex;
      align-items: center;
    }

    .side-menu {
      display: flex;
      align-items: center;
      position: absolute;
      right: 1.2rem;

      .side-menu-option-buttons {
        display: flex;
      }
    }

    .menu-button {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20px;
      height: 17px;
      margin-left: 1.2rem;
      cursor: pointer;
      z-index: 100;
      display: none;

      .line {
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 12px;
        transition: all 0.3s ease;

        &:first-of-type {
          transform-origin: bottom left;
        }

        &:nth-of-type(3) {
          transform-origin: top left;
        }
      }

      &.button-active {
        pointer-events: none;
        .line {
          &:first-of-type {
            transform: rotate(45deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
            transform: translateX(-20px);
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }

    .hidden-menu {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
      height: 100vh;
      background-color: black;
      top: 0;
      right: 0;
      width: 12rem;
      transition: all 0.5s ease;
      z-index: 50;

      .navigation-button {
        margin: 0.3rem 0;
      }
    }
  }

  &.navbar-active {
    &::after {
      opacity: 0;
    }

    .menu {
      .hidden-menu {
        transform: translateX(100%);
      }

      .side-button {
        opacity: 0;
        transform: translateX(12px);
      }
    }
  }
}

@each $width, $padding in $paddings {
  @media screen and (max-width: $width) {
    .navbar {
      padding: 0 $padding;
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    .menu {
      .main-menu {
        display: none;
      }
      .menu-button {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  body {
    &.app-swipe {
      transform: translate(-75%);
    }
  }

  .navbar {
    .menu {
      .side-menu {
        right: 0.75rem;
        .side-menu-option-buttons {
          display: none;
        }
      }
    }
  }
}
