@import 'utils';

.player {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 12rem;
  padding-top: 4rem;
  background: black;
  transition: all 0.2s ease;

  .loader {
    height: 100%;
    position: absolute;
    top: 50vh;
    left: 0;
  }

  .gradient {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.75)
    );
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  * {
    z-index: 5;
  }

  .flex-container {
    display: flex;
    width: 100%;

    .cover {
      width: 11rem;
      height: 11rem;
      background-color: black;
      margin-right: 3rem;
      transition: all 0.5s ease 0.3s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .podcast-data {
      transition: all 0.5s ease 0.5s;
      width: 45rem;

      $player_margin: 0.8rem;

      .category {
        font-size: 1rem;
        margin: 0;
        text-transform: uppercase;
      }

      .title {
        margin: 0;
        font-size: 3rem;
        color: white;
        text-transform: uppercase;
        font-family: $third_font;
      }

      .activities {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        margin-top: $player_margin;
        color: white;

        .activity {
          margin-right: 1rem;

          .like-button,
          .comment-button {
            cursor: pointer;
            transition: all 0.3s ease;
            margin-right: 0.25rem;
          }

          .like-button {
            &:hover {
              color: $main_pink;
            }

            &.liked {
              color: $main_pink;
            }
          }

          .comment-button {
            &:hover {
              color: $main_cyan;
            }
          }
        }
      }

      .description {
        margin: {
          top: $player_margin;
          bottom: 0;
        }
        width: 26rem;
        font-size: 0.6rem;
        font-weight: 500;
        font-family: $roboto;
        line-height: 1.15rem;
        color: rgb(212, 212, 212);
      }

      .spotify-wrapper {
        position: relative;
        width: 22rem;
        height: 6.1rem;

        .audio-player {
          margin-top: $player_margin;
          height: inherit;
          width: inherit;
          opacity: 0;
          transition: all 1s ease;
        }

        .loader {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          align-items: center;
        }
      }
    }
  }

  .next-podcast-preview {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    align-self: flex-end;
    border-radius: 10px;
    color: white;
    padding: 0.5rem;
    transition: all 0.5s ease;

    .hide-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      font-size: 0.4rem;
      width: 0.6rem;
      height: 0.6rem;
      transform: translate(0.15rem, -0.15rem);
      border-radius: 1rem;
      transition: none;
      background-color: rgb(224, 224, 224);
      color: black;

      &:hover {
        cursor: pointer;
        background-color: rgb(192, 104, 104);
        color: white;
      }
    }

    * {
      transition: all 0.3s ease;
    }

    &:hover {
      * {
        opacity: 1;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .heading-preview {
      color: white;
      font-size: 0.5rem;
      font-family: $third_font;
    }

    .preview-title {
      font-size: 0.55rem;
      margin: 0;
      margin-top: 0.25rem;
      font-family: $roboto;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 10px;
      margin-right: 0.5rem;
      object-fit: cover;
      opacity: 0;
    }

    &.hidden {
      opacity: 0;
      transform: translateY(100%);
      pointer-events: none;
    }
  }

  &.fade-in-animation {
    .color-box {
      opacity: 1;
    }

    .flex-container {
      .cover {
        opacity: 0;
      }

      .podcast-data {
        transform: translateY(5px);
        opacity: 0;
      }
    }

    .comments {
      opacity: 0;
    }
  }
}

@each $width, $padding in $paddings {
  @media screen and (max-width: $width) {
    .player {
      padding: 3rem $padding;
    }
  }
}

@media only screen and(max-width: 768px) {
  .player {
    .flex-container {
      width: 100%;
      .podcast-data {
        transition: all 0.5s ease 0.5s;
        width: 100%;

        .category {
          font-size: 1rem;
          margin: 0;
          text-transform: uppercase;
          color: rgb(214, 214, 214);
        }

        .title {
          margin: 0;
          font-size: 2rem;
          width: 100%;
          color: white;
          text-transform: uppercase;
        }
      }
    }

    .next-podcast-preview {
      display: none;
    }
  }
}

@media only screen and(max-width: 450px) {
  .player {
    align-items: flex-start;
    height: auto;

    .gradient {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.6)
      );
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .podcast-cover {
        position: relative;
        width: 100%;
        margin: 1rem 0;

        &::after {
          content: '';
          display: block;
          padding-bottom: calc(100%);
        }

        .cover {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          opacity: 0;
          transition: all 0.3s ease;
        }
      }

      .wrapper {
        width: 100%;
        height: 100%;
        justify-content: center;

        .flex-container {
          .podcast-data {
            width: 100%;

            .category {
              font-size: 1rem;
              margin: 0;
              text-transform: uppercase;
              color: rgb(214, 214, 214);
              display: none;
            }

            .title {
              margin: 0;
              font-size: 1rem;
              width: 100%;
              color: white;
              text-transform: uppercase;
            }

            .description {
              width: 100%;
              font-size: 0.55rem;
              line-height: 1rem;
              color: white;
            }

            .spotify-wrapper {
              width: 100%;
            }
          }
        }

        .next-podcast-preview {
          display: none;
        }
      }
    }
  }
}
